<div class="wrapper">
  <div class="quiz-wrapper">
    <div class="quiz-title">
      <%= @quiz.title %>
    </div>
    <div class="quiz-explanation">
      <%= @quiz.explanation %>
    </div>
    <div class="quiz-main">
      <input id="json_quiz" type="hidden" value=<%= @json_quiz %>>
      <div class="question-area">
        <div class="question" id="question"></div>
      </div>
      <div class="answer-area">
        <input id="answer" autofocus=true >
      </div>
    </div>
    <div class="top-link">
      <%= link_to 'トップページに戻る', root_path %>
    </div>
  </div>
</div>