.create-btn a{
  padding: 10px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  background-color: rgb(231, 216, 8);
  border-radius: 10px;
  border: 1px solid black;
  color: white;
  text-decoration: none;
}

.quiz {
  margin: 10px;
  background-color: rgb(65, 206, 88);
  border-radius: 25px;
  padding: 10px;
}

.quiz-header {
  display: flex;
  align-items: center;
}

.quiz-index {
  padding: 15px;
}

.quiz-title {
  font-size: 17px;
  border-radius: 20px;
}

.quiz-user {
  padding-left: 10px;
}

.quiz-explanation {
  padding: 10px;
  color: black;
}

.play-quiz a {
  text-decoration: none;
  color: rgb(247, 0, 255);
  font-size: 16px;
  padding-left: 20px;
}