.quiz-form {
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  background-color: rgb(193, 243, 77);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  border-radius: 20px;
}

.explanation-list {
  background-color: white;
  border-radius: 20px;
}

.quiz-set {
  padding: 10px 50px 10px 10px;
  width: 500px;

}

.quiz-input, .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.quiz-label {
  padding-right: 5px;
}

.quiz-field, .quiz-area {
  width: 300px;
}

.increase-btn {
  font-size: 16px;
  background-color: rgb(38, 150, 255);
  border-radius: 10px;
  margin-right: 10px;
  padding: 11px;
  cursor: pointer;
  color: white;
  box-shadow: 0 3px rgb(38, 0, 255);
}

.increase-btn:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}

.explanation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.explanation-list li {
  padding: 5px;
}