.quiz-wrapper {
  padding: 10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
  border-radius: 15px;
}

.quiz-title {
  font-size: 22px;
  color: aqua;
  width: 70%;
  height: 40px;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.quiz-explanation {

  text-align: center;
  font-size: 16px;
  color: rgb(253, 253, 31);
  padding: 5px;
}

.quiz-main {
  background-color: rgb(179, 243, 245);
  width: 80%;
  text-align: center;
}

.question-area {
  margin: 10px 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 24px;
}
.answer-area {
  height: 30px;
  border: 4 solid black;
}

.top-link {
  margin: 10px;
  padding: 5px;
}

.top-link a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 5px;
  background-color: tomato;
  border-radius: 7px;
  box-shadow: 0 3px rgb(197, 77, 56);
}
.top-link a:active {
  box-shadow: none;
  position: relative;
  top: 3px;
}

.field_with_errors {
  display: contents;
}

.comment-wrapper {
  margin: 10px;
}

.comment-form{
  padding: 10px;
}

.comment-field textarea{
  width: 300px;
}

.comment-submit{
  margin: 5px 0;
}
.comment-list {
  padding: 5px;
}
.comment{
  margin: 5px;
  background-color: lavenderblush;
}

.comment-content{
  padding: 3px;
}