.quiz-wrapper {
  padding: 10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
  border-radius: 15px;
}

.quiz-title {
  font-size: 22px;
  color: aqua;
  width: 400px;
  height: 40px;
  background-color: darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-explanation {
  text-align: center;
  font-size: 16px;
  color: rgb(253, 253, 31);
}

.quiz-main {
  background-color: rgb(179, 243, 245);
  text-align: center;
}

.question-area {
  width: 500px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 24px;
}
.answer-area {
  height: 30px;
}

.top-link a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}